.title {
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    margin: 6rem 0 6rem 0;
}

.item {
    min-height: 40rem;
    min-width: 30rem;
    padding: 40px;
    
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
    object-fit: cover;
    
}

.inner-carousel {
    display: flex;
    padding-bottom: 4rem;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons img {
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    justify-content: space-around;
    
}
.icons h3 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
}